a {
    font-family: var(--font-family-content);
    font-size: var(--p-small);
    font-weight: 600;
    color: var(--text-gray);
    letter-spacing: .1rem;
    text-decoration: none;
    pointer-events: 0;
    
    background-image: linear-gradient(180deg, transparent 80%, var(--color-accent) 0);
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: background-size .4s ease;
}
  
a:hover {
    background-size: 100% 100%;
}

.link-1 {
    font-family: var(--font-family-content);
    font-size: var(--p-small);
    font-weight: 600;
    color: var(--color-accent);
    letter-spacing: .05rem;
    pointer-events: 0;
}

.link-2 {
    font-family: var(--font-family-title);
    font-size: var(--h2-small);
    font-weight: 800;
    text-transform: uppercase;
    color: var(--text-black);
    margin-bottom: 0;
}