main {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

article {
    background-color: var(--card-color);
    box-shadow: 0 3px 6px var(--shadow-color);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
}

article > * {
    padding: 10px;
}

/*article .thumbnail {
    padding: 0;
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
}*/

.responsive {
    object-fit: cover;
    background-size: cover;
    background-position: center center;
    width: 100%;
  }

@media screen and (min-width: 768px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    main {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}