h1 {
    font-family: var(--font-family-title);
    font-size: var(--h1-large);
    font-weight: 800;
    text-transform: uppercase;
    color: var(--color-accent);
}

h1:before {
    content: attr(data-content);
    overflow: hidden;
    color: var(--text-white);
}

h2 {
    font-family: var(--font-family-title);
    font-size: var(--h2-large);
    font-weight: 800;
    text-transform: uppercase;
    color: var(--text-black);
    margin-bottom: 0;
    transition: 0.4s ease;
}

h2:hover {
    color: var(--color-accent);
}

p {
    font-family: var(--font-family-content);
    font-size: var(--p);
    font-weight: 200;
    line-height: 2;
    color: var(--text-black);
    flex: 1;
    letter-spacing: .05rem;
    margin-top: 0;
}

span {
    font-family: var(--font-family-content);
    font-size: var(--p-small);
    font-weight: 600;
    color: var(--color-accent);
    letter-spacing: .05rem;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: .25rem;
    display: flex;
    justify-content: space-between;
}

li {
    font-family: var(--font-family-content);
    font-size: var(--p-small);
    font-weight: 600;
    color: var(--text-gray);
    letter-spacing: .1rem;
}