h1 {
    font-family: var(--font-family-title);
    font-size: var(--h1-large);
    font-weight: 800;
    text-transform: uppercase;
    color: var(--color-accent);
}

h1:before {
    content: attr(data-content);
    overflow: hidden;
    color: var(--text-white);
}

h2 {
    font-family: var(--font-family-title);
    font-size: var(--h2-large);
    font-weight: 800;
    text-transform: uppercase;
    color: var(--text-black);
    margin-bottom: 0;
}

p {
    font-family: var(--font-family-content);
    font-size: var(--p);
    font-weight: 200;
    line-height: 2;
    color: var(--text-black);
    flex: 1;
    letter-spacing: .05rem;
    margin-top: 0;
}

span {
    font-family: var(--font-family-content);
    font-size: var(--p-small);
    font-weight: 600;
    color: var(--color-accent);
    letter-spacing: .05rem;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: .25rem;
    display: flex;
    justify-content: space-between;
}

li {
    font-family: var(--font-family-content);
    font-size: var(--p-small);
    font-weight: 400;
    color: var(--text-gray);
    letter-spacing: .2rem;
}

a {
    font-family: var(--font-family-content);
    font-size: var(--p-small);
    font-weight: 400;
    color: var(--text-gray);
    letter-spacing: .1rem;
    text-decoration: none;
    pointer-events: 0;
    
    background-image: linear-gradient(180deg, transparent 80%, var(--color-accent) 0);
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: background-size .4s ease;
  }
  
  a:hover {
    background-size: 100% 100%;
  }

  .link-1 {
      font-weight: 600;
      pointer-events: 0;
  }

  .link-2 {
    font-family: var(--font-family-content);
    font-size: var(--p-small);
    font-weight: 600;
    color: var(--color-accent);
    letter-spacing: .05rem;
    pointer-events: 0;
  }